@model WebApplicationWithMVC.Models.MemberModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MemberModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MEMBER_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MEMBER_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MEMBER_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MEMBER_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CITY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CITY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DATE_REGISTER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DATE_REGISTER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DATE_EXPIRE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DATE_EXPIRE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MEMBERSHIP_STATUS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MEMBERSHIP_STATUS)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
